main {
  width: 50%;
  margin: 7% auto;
  padding: 1% 14%;
  background: rgba(9, 47, 120, 100);
  color: #fff;
  border-radius: 5rem;
  opacity: 85%;
  overflow: hidden;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  line-height: 2;
  letter-spacing: 4px;
}

/*  the letter "y" in the chatly brand  */
.y {
  color: #000;
  font-weight: 900;
  font-style: oblique;
  font-stretch: ultra-expanded;
}

.avatar {
  width: 25%;
  cursor: pointer;

  margin: 0 0 1rem 130px;
}

/* MD devices */
@media screen and (max-width: 1024px) {
  .avatar {
    margin: 0 0 1rem 80px;
  }
}

/* SM devices */
@media screen and (max-width: 600px) {
  .main-container {
    background: #000;
    width: 80%;
    margin-top: 8rem;
    font-size: larger;
  }
  .y {
    color: #fff;
  }

  .avatar {
    margin: 0 0 1rem 90px;
  }
}
