main {
  width: 50%;
  margin: 7% auto;
  padding: 5% 15%;
  background: rgba(9, 47, 120, 100);
  color: #fff;
  border-radius: 2rem;
  opacity: 85%;
  overflow: hidden;
}

.container-form-group {
  border-bottom: 1px solid #000;
  border-radius: 10px;
}

/* SM devices */
@media screen and (max-width: 600px) {
  .main-container {
    background: #000;
    width: 80%;
    margin-top: 8rem;
    font-size: larger;
  }
}
