.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 10px;
  background-color: var(--color-bg-light)
}

.logo-navbar{
  font-weight: bold;
}

.user{
  display: flex;
  gap: 1rem;
}

.user-avatar{
  width: 35px;
  height: 35px;
  
}