.form-control {
  background-color: transparent !important;
  border-radius: 0 !important;
  padding: 0.5rem !important;
  color: var(--color-white) !important;
}

.userChat{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: var(--color-white);
    cursor: pointer;

}

.userChat:hover{
    background-color: var(--color-bg-light);
}


.userChat img {
  width: 50px;
}

.userChatInfo span{
font-size: 18px;
font-weight: 500;
}

.userChatInfo p{
  font-size: 14px;
  color:var(--bs-gray) !important; 
}